@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap');

body  {
  font-family: 'Josefin Sans', sans-serif;
  background-color: gainsboro;
}

.container  {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hamburger {
  width: 100px;
  height: 100px;
  background: mediumvioletred;
  color: ghostwhite;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.hamburger div {
  background-color: rebeccapurple;
  height: 10px;
  width: 70%;
  margin: auto;
  
}

li {
  list-style-type: none;
  margin-bottom: 1em;
}

a {
  text-decoration: none;
  color: rebeccapurple;
  text-shadow: 1px 1px 2px darkgrey;
}
a:hover {
  color: ghostwhite;
  
}
.hamburger:hover #top{
  animation-name: down;
  animation-duration: 1s;
}
.hamburger:hover #bottom{
  animation-name: up;
  animation-duration: 1s;
}

.hamburger:hover #middle{
  animation-name: dissapear;
  animation-duration: .5s;
}
@keyframes down{
  0% {transform: rotate(0turn) translate(0px,0px)}
  100% {transform: rotate(45deg) translate(25px,25px)}
}


@keyframes up{
  0% {transform: translate(0deg, 0deg) }
  100% {transform: translate(0px, -30px) rotate(-45deg);}
}
@keyframes dissapear{
  0% {opacity: 1}
  100%{opacity: 0}
}